table {
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}


/* contenedor de las empresas  */

.contenedor-tabla {
    width: 80%;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:600px) {
    .contenedor-tabla {
        width: 100%;
        padding: 0px 5px;
    }
}

.contenedor-tabla:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}


/*conentdor imagen playstore*/

.contenedor-playestore img {
    width: 200px;
}


/*contenedor usuario*/

.contenedor-usuario {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.example-full-width {
    width: 50%;
}

mat-label {
    color: #bdb7b7;
    font-weight: 300;
}

.usuario,
.clave {
    color: #fff;
}


/* ================================================== */

.titulo-general {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.cabecera-tabla th {
    font-size: 16px;
    color: #fff;
}

.input-cantidad {
    width: 70px;
}

.contenido-tabla td {
    font-size: 14px;
    color: #fff;
}

@media screen and (max-width:600px) {
    .cabecera-tabla th {
        font-size: 10px;
    }
    .contenido-tabla td {
        font-size: 10px;
    }
    .input-cantidad {
        width: 23px;
    }
}