<div class="container">
    <div class="contenedor-texto-categoria">
        <h3 class="mb-4 titulo-categoria"> <b>CATEGORÍAS:</b> </h3>
    </div>
    <div class="row row-cols-3 row-cols-sm-6 row-cols-md-6 justify-content-center">
        <div class="col contenedor-categorias" align="center">
            <div class="categoria" (click)="obtenerCategoria(12)">
                <div>
                    <img class="imagen" src="../../../assets/images/gass.png" alt="">
                </div>
                <div>
                    <h6>Gas</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias" align="center">
            <div class="categoria" (click)="obtenerCategoria(1)">
                <div>
                    <img class="imagen" src="../../../assets/images/ferreterias-pinturas.png">
                </div>
                <div>
                    <h6>Ferretería y Pintura</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(3) ">
                <div>
                    <img class="imagen " src="../../../assets/images/libross.png " alt=" ">
                </div>
                <div>
                    <h6>Librería</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(8) ">
                <div>
                    <img class="imagen " src="../../../assets/images/tecnologia.png" alt=" ">
                </div>
                <div>
                    <h6>Tecnología</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(6) ">
                <div>
                    <img class="imagen " src="../../../assets/images/farmacia.png " alt=" ">
                </div>
                <div>
                    <h6>Farmacia</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(2) ">
                <div>
                    <img class="imagen " src="../../../assets/images/bodegas.png" alt=" ">
                </div>
                <div>
                    <h6>Bodegas y más</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(10) ">
                <div>
                    <img class="imagen " src="../../../assets/images/comida-rapida.png " alt=" ">
                </div>
                <div>
                    <h6>Comida</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(11) ">
                <div>
                    <img class="imagen " src="../../../assets/images/muebles.png " alt=" ">
                </div>
                <div>
                    <h6>Hogar y Mueble</h6>
                </div>
            </div>
        </div>

        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(5) ">
                <div>
                    <img class="imagen " src="../../../assets/images/autopartes.png " alt=" ">
                </div>
                <div>
                    <h6>Autopartes y Lubricantes</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(9) ">
                <div>
                    <img class="imagen " src="../../../assets/images/vehiculos.png " alt=" ">
                </div>
                <div>
                    <h6>Vehículos y Maquinarias</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(4) ">
                <div>
                    <img class="imagen " src="../../../assets/images/ropa.png " alt=" ">
                </div>
                <div>
                    <h6>Ropa y Calzado</h6>
                </div>
            </div>
        </div>
        <div class="col contenedor-categorias " align="center ">
            <div class="categoria " (click)="obtenerCategoria(7) ">
                <div>
                    <img class="imagen " src="../../../assets/images/agriculture.png " alt=" ">
                </div>
                <div>
                    <h6>Agroindustria y Veterinaria</h6>
                </div>
            </div>
        </div>

    </div>



</div>