<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        
        <label class="logo">
            <a href="#"><img src="../../../assets/images/logonav.jpg" alt="" width="55"></a>
        </label>
        <ul>
            <li><a class="active" href="#">Full Pedido</a></li>
            <li><a href="#">Empresas</a></li>
            <li><a href="#">Noticias</a></li>
        </ul>
    </nav>
</header>