<!-- navbar -->

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light nav">

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="https://fullpedido.com/">
            <img src="../../../assets/images/fullpedido.png" width="50" height="45" alt="" loading="lazy">
        </a>
    </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- ====================================== -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active vistas">
                <a class="nav-link" routerLink="/" routerLinkActive="router-link-active">Inicio</a>
            </li>

            <!-- <li class="nav-item active vistas">
                <a class="nav-link" routerLink="">Cómo funciona</a>
            </li> -->
            <li class="nav-item active vistas">
                <a class="nav-link" href="https://marketplace.fullpedido.com/index.html">Quiénes somos</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 contenedor-buscador">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar por Nombre Comercial" aria-label="Search" (keyup.enter)="buscarEmpresa(buscarTexto.value)" #buscarTexto>
            <button (click)="buscarEmpresa(buscarTexto.value)" class="btn btn-primary my-2 my-sm-0" type="button">Buscar</button>
        </form>

        <div class="contenedor-general-registro">
            <div class="ps-block--user-header contenedor-registro">
                <div class="ps-block__left contenedor-iconos">
                    <i class="fas fa-store"></i>
                    <a routerLink="/beneficios-vendedor">Abre tu tienda</a>
                </div>

            </div>
            <div class="ps-block--user-header contenedor-registro">
                <div class="ps-block__left contenedor-iconos">
                    <i class="fas fa-shopping-cart"></i>
                    <a routerLink="/beneficios-comprador">Registrate para comprar</a>
                </div>
            </div>

            <div class="ps-block--user-header contenedor-registro">
                <div class="ps-block__left contenedor-iconos">
                    <i class="fas fa-user"></i>
                    <a href="https://aplicacion.fullpedido.com/#/login">Mi cuenta</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================================== -->
</nav>