<ngb-carousel *ngIf="images">
    <!-- <ng-template ngbSlide *ngFor="let image of img_url.data"> -->
    <ng-template ngbSlide>
        <!-- <div class="picsum-img-wrapper">
            <img [src]="image.url" alt="Random slide">
        </div>
        <div class="carousel-caption">
            <h3>No mouse navigation</h3>
            <p>This carousel hides navigation arrows and indicators.</p>
        </div> -->
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> -->
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
</ngb-carousel>






<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row d-flex no-gutters"> 
            
            <div class="col-md-6 pl-md-5 py-md-5">
                <div class="heading-section pl-md-4 pt-md-5">
                    <span class="subheading">Empresas Afiliadas</span>
            <h2 class="mb-4">Nosotros somos los mejores</h2>
                </div>
                    <ul class="list-group">
                        
                        <li *ngFor="let item of collection.data; let i=index" class="list-group-item">
                            {{i+1}} &nbsp; {{item.ruc}} &nbsp; {{item.departamento}} &nbsp; {{item.telefono}} &nbsp; 
                            <button (click)="verEmpresa(i)" type="button" class="btn btn-primary btn-block">
                                ver más...
                            </button> 
                            <!-- <a [routerLink]="['/empresa',i]" class="btn btn-outline-primary">Ver más</a> -->
                        </li>
                        

                    </ul>
                     
        </div>
        <div class="col-md-6 d-flex">
            <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(../../../assets/images/about.jpg);">
            </div>
        </div>
    </div>
    </div>
</section> 
