<div class="container">
    <h1>Términos y Condiciones de Uso de Plataforma fullpedido</h1>

    <h2>ASPECTOS GENERALES</h2>

    <h3>INFORMACIÓN</h3>

    <p>
        GRAMATEC SA. es una sociedad constituida conforme a la leyes y reglamentos del PERU con RUC 20605393625, para los efectos de los presentes términos se denominará EL OPERADOR. fullpedido es una tecnología desarrollada por GRAMATEC SA de servicios que permite
        que las empresas se conecten y creen relaciones comerciales más personalizadas de acuerdo al rubro correspondiente. Estas condiciones rigen por el uso de toda la plataforma fullpedido, excepto cuando indiquemos que se aplican otros términos y
        condiciones Los presentes términos y condiciones de uso regulan la relación contractual de carácter comercial entre las empresas Consumidoras y las empresas distribuidoras que acceden a la plataforma virtual fullpedido. Las empresas o personas
        jurídicas se llamaran en adelante Compradores y vendedores de acuerdo a su condición comercial LAS TRANACCIONES QUE SE REALIZAN ENTRE COMPRADOR Y VENDEDOR ES INTEGRAMENTE RESPONZABILIDAD DE AMBAS PARTES LA APLICACIÓN FULLPEDIDO NO ES UN MEDIO
        DE PAGO DE LOS SERVICIOS Y PRODUCTOS QUE COMERCILIZAN Y PUBLICAN EN LA PLATAFORMA FULLPEDIDO NO SE RESPONSBILIZA DE LAS TRANZACCIONES FINACIERAS,LEGALES,TRIBUTARIAS ENTRE COMPRADORES Y VENDEDORES ES INTEGRAMENTE RESPONZABILIDAD DE COMPRADORES
        Y VENDEDORES
    </p>

    <h3>OBJETO</h3>

    <p>
        Los presentes términos y condiciones regulan la autorización de uso que otorga el fullpedido a los Consumidores, para que éstos ingresen a la plataforma virtual, se informen sobre los productos exhibidos de acuerdo a sus publicaciones , para que sean
        utilizados como referencia y puedan solicitar la gestión de compra de acuerdo a sus políticas y condiciones de las empresas vendedoras o distribuidoras , por medio de una orden de compra que orden de comrpa previamente gestionada y con consentimiento
        de ambas partes interesadas en la transaccion. La Plataforma fullpedido realiza las siguientes acciones: i) exhibe diferentes productos publicados de acuerdo a sus vendedores o distribuidores de servicios o consumo de forma publicitaria para que
        puedan servir de referencia a los Consumidores, ii) facilita la transacción entre compradores y distribuidores para la realización del vínculo comercial o contractual, iii) No permitimos los pagos de intercambio ni nos responsabilizamos de la
        transacción, solo se pude realizar de forma directa y previa coordinación entre entre las empresas registradas y activas en la plataforma fullpedido iv) sirve de medio de coordinar sus transacciones de ventas y compras entre los compradors y los
        distribuidores. A través de la Plataforma fullpedido se exhiben productos y sericios, cuya gestión de compra y venta es realizada íntegramente por la responsabilidad, del comprador y vendedor
    </p>

    <h3>PLATAFORMA FULLPEDIDO PERMITE SU USO</h3>

    <p>
        La plataforma fulpedidod permite su uso por varios medios, a saber: i) portal web: www.fullpedido.com, app fullpedido, aplicación desktop, y otras tecnologías que estarán desarrollando, y ii) aplicación que se puede descargar en dispositivos móviles por
        medio de tiendas virtuales de aplicaciones de (Play Store) , de Google (Google Play), medios que en adelante y para los efectos de los presentes términos se denominarán conjuntamente plataforma fullpedido. Los Consumidores podrán utilizar La Plataforma
        fullpedido exclusivamente para comercializar, publicar , promocionar, s sin que esto implique el otorgamiento de una licencia de la tecnología de la plataforma de ningún tipo , porque es íntegramente propiedad de gramatec.sa Peru.

    </p>

    <h3>MODIFICACIÓN</h3>

    <p>
        Fullpedido podrá modificar autónomamente y en cualquier momento en aspectos formales, procedimentales o sustanciales los presentes Términos y Condiciones de uso de La Plataforma, los cuales serán actualizados y puestos a disposición de los Consumidores
        en La Plataforma fullpedido, siendo la última versión publicada la que regulará las relaciones comerciales que se generen al momento de realizarse la transacción. Así mismo, cuenta con plena autonomía para modificar los usos de La Plataforma permitidos
        a los Consumidores, con el único deber de informarlo por un medio virtual que permita su publicación y comunicación al público.

    </p>

    <h2>DETALLE DEL SERVICIO</h2>
    <h3>COMPRADOR Y VENDEDOR</h3>

    <p>
        Toda empresa o persona jurídica , como destinatario final, use La Plataforma fullpedido para realizar sus compras y ventas que consiste en la celebración de una compraventa o cualquier otro tipo de contrato lícito, con el fin de adquirir bienes o servicios
        . El uso de la Plataforma lo realiza el Consumidor como persona capaz, manifestando que, para la celebración de contratos de mandato con el comprador y vendedor , cuenta con plena capacidad legal para ser sujeto de derechos y obligaciones, calidades
        que refrenda al momento de generar su transaccion. El comprador tiene la obligación de: 1) proveer el RUC o el Documento Nacional de Identidad DNI (Cédula de Ciudadanía/Extranjería/Pasaporte) original, expedido por la RENIEC o SUNAT o por la autoridad
        competente de su país de origen;

    </p>

    <h3>CUENTA DE USUARIO</h3>

    <p>
        Las empresas compradoras y vendedoras usan como referencia la aplicación fullpedido para realizar su compra y vender , los productos que se encuentran exhibidos en La Plataforma, teniendo como condición necesaria la creación de una Cuenta de Usuario,
        donde se solicitarán datos como RUC o DNI, fecha de nacimiento, teléfono, dirección, dirección de correo electrónico. Se encuentra prohibido tener más de una (1) cuenta relacionada a cualquiera de los datos anteriormente mencionados. Esta información
        se utiliza para la plena identificación de las compradores y vendedores que pretenden realizar la transacción de manera lisita y legal de lo productos, para el cumplimiento de los presentes términos y condiciones, para la prevención de fraudes,
        para vincular al comprador con el vendedor y en general para los fines definidos en el acápite manejo de información. Las empresas compradoras y vendedoras es obligatorio registrarse en la aplicación fullpedido podrán crear su cuenta de usuario
        con la utilización de sus datos permitidos y las credenciales allí definidas.
    </p>
    <p>
        Podrán los compradores y vendedores, además de la información obligatoria y facultativa requerida al momento de la creación de la cuenta, suministrar voluntariamente más datos relacionados con su individualización al momento en que cree su propio Perfil
        dentro de La Plataforma fullpedido. El uso de las cuentas de fullpedido es personal e intransferible, por lo cual los compradores y vendedoras no están facultados para ceder los datos de validación para el acceso a la Plataforma ni el uso de su
        cuenta a ningún tipo de terceros. El incumplimiento de lo anterior acarreará la suspensión y bloqueo o baneo definitivo de la cuenta (incluye correo electrónico y número de identificación personal, numero de RUC ). En caso de olvido de los datos
        de validación o de usurpación de éstos, es obligación informarlo a la plataforma por medio de mensaje, correo que estas publicados en la paginas de www.fullpedido.com, www.gramatec.com.pe de inmediatamente. [6:35, 19/11/2020] Denis Begazo: La
        Plataforma fullpedido realiza las siguientes acciones: i) exhibe diferentes productos publicados de acuerdo a sus vendedores o distribuidores de servicios o consumo de forma publicitaria para que puedan servir de referencia a los Consumidores,
        ii) facilita la transacción entre compradores y distribuidores para la realización del vínculo comercial o contractual, iii) No permitimos los pagos de intercambio ni nos responsabilizamos de la transacción, solo se pude realizar de forma directa
        y previa coordinación entre entre las empresas registradas y activas en la plataforma fullpedido iv) sirve de medio de coordinar sus transacciones de ventas y compras entre los compradors y los distribuidores. A través de la Plataforma fullpedido
        se exhiben productos y sericios, cuya gestión de compra y venta es realizada íntegramente por la responsabilidad, del comprador y vendedor

    </p>

    <h3>PLATAFORMA FULLPEDIDO PERMITE SU USO</h3>
    <p>
        La plataforma fulpedidod permite su uso por varios medios, a saber: i) portal web: www.fullpedido.com, app fullpedido, aplicación desktop, y otras tecnologías que estarán desarrollando, y ii) aplicación que se puede descargar en dispositivos móviles por
        medio de tiendas virtuales de aplicaciones de (Play Store) , de Google (Google Play), medios que en adelante y para los efectos de los presentes términos se denominarán conjuntamente plataforma fullpedido. Los Consumidores podrán utilizar La Plataforma
        fullpedido exclusivamente para comercializar, publicar , promocionar, s sin que esto implique el otorgamiento de una licencia de la tecnología de la plataforma de ningún tipo , porque es íntegramente propiedad de gramatec.sa Peru.

    </p>

    <h3>MODIFICACIÓN</h3>
    <p>
        Fullpedido podrá modificar autónomamente y en cualquier momento en aspectos formales, procedimentales o sustanciales los presentes Términos y Condiciones de uso de La Plataforma, los cuales serán actualizados y puestos a disposición de los Consumidores
        en La Plataforma fullpedido, siendo la última versión publicada la que regulará las relaciones comerciales que se generen al momento de realizarse la transacción. Así mismo, cuenta con plena autonomía para modificar los usos de La Plataforma permitidos
        a los Consumidores, con el único deber de informarlo por un medio virtual que permita su publicación y comunicación al público.

    </p>

    <h2>DETALLE DEL SERVICIO</h2>
    <h3>COMPRADOR Y VENDEDOR</h3>
    <p>
        Toda empresa o persona jurídica , como destinatario final, use La Plataforma fullpedido para realizar sus compras y ventas que consiste en la celebración de una compraventa o cualquier otro tipo de contrato lícito, con el fin de adquirir bienes o servicios
        . El uso de la Plataforma lo realiza el Consumidor como persona capaz, manifestando que, para la celebración de contratos de mandato con el comprador y vendedor , cuenta con plena capacidad legal para ser sujeto de derechos y obligaciones, calidades
        que refrenda al momento de generar su transaccion. El comprador tiene la obligación de: 1) proveer el RUC o el Documento Nacional de Identidad DNI (Cédula de Ciudadanía/Extranjería/Pasaporte) original, expedido por la RENIEC o SUNAT o por la autoridad
        competente de su país de origen;

    </p>

    <h3>CUENTA DE USUARIO</h3>
    <p>
        Las empresas compradoras y vendedoras usan como referencia la aplicación fullpedido para realizar su compra y vender , los productos que se encuentran exhibidos en La Plataforma, teniendo como condición necesaria la creación de una Cuenta de Usuario,
        donde se solicitarán datos como RUC o DNI, fecha de nacimiento, teléfono, dirección, dirección de correo electrónico. Se encuentra prohibido tener más de una (1) cuenta relacionada a cualquiera de los datos anteriormente mencionados. Esta información
        se utiliza para la plena identificación de las compradores y vendedores que pretenden realizar la transacción de manera lisita y legal de lo productos, para el cumplimiento de los presentes términos y condiciones, para la prevención de fraudes,
        para vincular al comprador con el vendedor y en general para los fines definidos en el acápite manejo de información. Las empresas compradoras y vendedoras es obligatorio registrarse en la aplicación fullpedido podrán crear su cuenta de usuario
        con la utilización de sus datos permitidos y las credenciales allí definidas.
    </p>

    <p>
        mación obligatoria y facultativa requerida al momento de la creación de la cuenta, suministrar voluntariamente más datos relacionados con su individualización al momento en que cree su propio Perfil dentro de La Plataforma fullpedido. El uso de las cuentas
        de fullpedido es personal e intransferible, por lo cual los compradores y vendedoras no están facultados para ceder los datos de validación para el acceso a la Plataforma ni el uso de su cuenta a ningún tipo de terceros. El incumplimiento de lo
        anterior acarreará la suspensión y bloqueo o baneo definitivo de la cuenta (incluye correo electrónico y número de identificación personal, numero de RUC ). En caso de olvido de los datos de validación o de usurpación de éstos, es obligación informarlo
        a la plataforma por medio de mensaje, correo que estas publicados en la paginas de www.fullpedido.com, www.gramatec.com.pe de inmediatamente. Con la creación de la Cuenta de Usuario de los compradores y vendedores están manifestando su voluntad
        de aceptación expresa e inequívoca de los presentes Términos y Condiciones de uso de La Plataforma fullpedido, así como de la Política de tratamiento de datos personales por parte GRAMATEC.SA Autoriza expresamente los compradores y vendedores
        al momento de la aceptación de los presentes Términos, el uso de Cookies, puntos de ubicacion por parte del plataforma fullpedido en toda actividad o tranzaccion de uso que realice de la Plataformafullpedido. Es claro para las empresas compradoras
        y vendedoras que la relación contractual que se puede llegar a generar por el uso de La Plataforma no vincula de ninguna manera a la plataforma fullpedido. Lo anterior, puesto que la relación contractual será directamente con el entre comprador
        y vendedor y consistirá en un una orden de compra, cotización todos sin ningún valor tributario, solo es informativo La aplicación full pedido no se responsabiliza de la calidad de los productos y servicios que comercializa los usuarios, es responsabilidad
        de las empresa compradora y vendedora Está prohibida realizar transacciones ilícitas o de origen ilegal que prohíbe las leyes y reglamento peruano o reglas internacionales Está prohibido publicar productos, imágenes, servicios que prohíben las
        normas y leyes del Perú.
    </p>
</div>