<div class="contenedor-padre">

    <img src="../../.././assets/images/tecnologia.jpg">
</div>

<div class="container contenedor-general-padre">


    <div>
        <div class="contenedor-titulo">
            <h1>BENEFICIOS</h1>
        </div>

        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-4 ">
                <div class="card h-100 contenedor-img">
                    <img src="../../.././assets/images/proveedores2.jpg" class="card-img-top" alt="...">
                    <div class="card-body contenedor-texto">
                        <h5 class="card-title">Abre tu tienda online</h5>
                        <p class="card-text">Ahora tendrás tu tienda online siempre disponible.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 contenedor-img">
                    <img src="../../.././assets/images/distribuidor.jpg" class="card-img-top" alt="...">
                    <div class="card-body contenedor-texto">
                        <h5 class="card-title">Vende a nivel nacional</h5>
                        <p class="card-text">Tus productos son vistos en todo el Perú.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 contenedor-img">
                    <img src="../../.././assets/images/empresa-futuro.jpg" class="card-img-top" alt="...">
                    <div class="card-body contenedor-texto">
                        <h5 class="card-title">Posicionamiento</h5>
                        <p class="card-text">Tus productos están disponibles en todas las plataformas.</p>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100 contenedor-img">
                    <img src="../../.././assets/images/clientes.jpg" class="card-img-top" alt="...">
                    <div class="card-body contenedor-texto">
                        <h5 class="card-title">Marketing Online</h5>
                        <p class="card-text">Nos encargamos de contactarte con clientes potenciales.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="contenedor-boton">
        <a routerLink="/register">Comienza Gratis</a>
    </div>





</div>